doctype html
html
    head
        title MagePanel | #{title}
        meta(charset='utf-8')
        // jQuery UI
        link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/jquery-ui.structure.css')
        link(rel='stylesheet', href='/stylesheets/jquery-ui.theme.css')
        // Twitter Bootstrap
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-select.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-toggle.css')
        // Bootstrap jsPanel
        link(rel='stylesheet', href='/stylesheets/jquery.jsPanel.css')
        link(rel='stylesheet', href='/stylesheets/jsglyph.css')
        // MagePanel Styles
        link(rel='stylesheet', href='/stylesheets/magepanel.css')
        // IonIcons
        link(rel='stylesheet', href='/stylesheets/ionicons.css')
        // Toastr Notifications
        link(rel='stylesheet', href='/stylesheets/toastr.min.css')
        // CodeMirror Editor
        link(rel='stylesheet', href='/codemirror-4.4/lib/codemirror.css')
        link(rel='stylesheet', href='/codemirror-4.4/theme/mdn-like.css')

    body(role='document')
        // Background image
        img#bg(src='/images/background.png' alt='')

        // App Menu
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        b.icon.ion-magepanel  MagePanel
                .navbar-collapse.collapse
                    if setupCompleted
                        ul.nav.navbar-nav
                            li(class=(menu === 'home' ? 'active' : ''))
                                a.icon.ion-home(href='/')  Home
                            li(class=(menu === 'mage' ? 'active' : ''))
                                a.icon.ion-code(href='/mage')  Console
                            li(class=(menu === 'mageLogs' ? 'active' : ''))
                                a.icon.ion-document(href='/mageLogs')  Logs
                            li(class=(menu === 'projects' ? 'active' : ''))
                                a.icon.ion-briefcase(href='/projects')  Projects
                            li(class=(menu === 'setup' ? 'active' : ''))
                                a.icon.ion-settings(href='/setup')  Settings
                    ul.nav.navbar-nav(style='float:right;')
                        li
                            a.icon.ion-refreshing#checkingUpdates(
                                href='#',
                                rel='tooltip',
                                data-original-title='Checking updates..',
                                data-placement="bottom",
                                style="display: none;")
                            a.icon.ion-close-circled#updateError(
                                href='#',
                                rel='tooltip',
                                data-original-title='Error while updating',
                                data-placement="bottom",
                                style="display: none;",
                                onclick="checkForUpdates();")
                            a.icon.ion-checkmark-circled#updateOk(
                                href='#',
                                rel='tooltip',
                                data-original-title='MagePanel up-to-date',
                                data-placement="bottom",
                                onclick="checkForUpdates();")
                        li
                            a.icon.ion-person(href='#')= username

        // Main div
        .container.main-container#mainContainer(role='main')
            // Page Content
            block content

        // Ajax Loading Panel
        #overlay
        #wait
            #ajaxloader

        // Footer
        //#footer.container
        //.navbar.navbar-default.navbar-fixed-bottom(role='footer')
            //.container
                //p.text-muted MagePanel Projects

        // jQuery
        script(src='/javascripts/jquery.min.js')
        script(defer, src='/socket.io/socket.io.js')
        // jQuery UI
        script(src='/javascripts/jquery-ui.js')
        script(src='/javascripts/jquery.ui.touch-punch.js')
        script(src='/javascripts/mobile-detect.js')
        // jQuery Cookies
        script(src='/javascripts/jquery.cookie.js')
        // Twitter Bootstrap
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/bootstrap-select.min.js')
        script(src='/javascripts/bootstrap-toggle.js')
        // Bootstrap jsPanel
        script(src='/javascripts/jquery.jspanel.js')
        // Toastr Notifications
        script(src='/javascripts/toastr.min.js')
        // CodeMirror Editor
        script(src='/codemirror-4.4/lib/codemirror.js')
        // CodeMirror Modes
        script(src='/codemirror-4.4/mode/yaml/yaml.js')
        script(src='/codemirror-4.4/mode/xml/xml.js')
        script(src='/codemirror-4.4/mode/clike/clike.js')
        script(src='/codemirror-4.4/mode/javascript/javascript.js')
        script(src='/codemirror-4.4/mode/css/css.js')
        script(src='/codemirror-4.4/mode/php/php.js')
        script(src='/codemirror-4.4/mode/htmlmixed/htmlmixed.js')
        // CodeMirror Addons
        script(src='/codemirror-4.4/addon/selection/active-line.js')
        script(src='/codemirror-4.4/addon/edit/matchbrackets.js')
        // Google Code-Prettifier
        script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
        // MagePanel Scripts
        script(src='/javascripts/global.js')
        script(src='/javascripts/utils/buttons.js')
        script(src='/javascripts/utils/delegates.js')
        script(src='/javascripts/utils/forms.js')
        script(src='/javascripts/utils/functions.js')
        script(src='/javascripts/utils/modals.js')
        script(src='/javascripts/Queue.js')