extends layout

block content
    .page-header
        h1.icon.ion-briefcase= title

    // Buttons
    p
        button.btn.btn-default.btn-info.icon.ion-android-add(
                rel='tooltip',
                data-original-title='Add project',
                data-toggle='modal',
                data-target='#addProjectModal',
                type='button',
                style='margin-right:10px')
        button.btn.btn-default.btn-warning.icon.ion-android-star(
                rel='tooltip',
                data-original-title='Init project',
                data-toggle='modal',
                data-target='#initProjectModal',
                type='button',
                style='margin-right:10px')
        button#delProjectBtn.btn.btn-default.btn-danger.icon.ion-android-remove(
                rel='tooltip',
                data-original-title='Remove project',
                type='button',
                style='margin-right:10px')
        button#refreshProjectBtn.btn.btn-default.btn-success.icon.ion-refresh(
                rel='tooltip',
                data-original-title='Refresh project',
                type='button')

    // Columns
    .row
        // Available projects
        .col-lg-6
            ul.list-group#projectsList
                for project in projects
                    li.list-group-item(id= project.id) #{project.name}
                else
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Projects
                        .panel-body
                            p No projects added yet..
        // Selected project details
        .col-lg-6
            .panel.panel-primary
                .panel-heading
                    h3.panel-title Project Details
                .panel-body
                    p#projectDetail Select a project..

    // -------------
    // Modal Windows

    // Add Project Modal
    #addProjectModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                form#addProjectForm(method='POST', action='/projects/add')
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4#modalLabel.modal-title Add Project
                    .modal-body
                        // Add project form contents
                        p.input-group
                            span.input-group-addon
                                i.icon.ion-folder
                            //span.btn.btn-primary.btn-file Browse // Disabled because of security reasons
                                //input(type='file')
                            input.form-control#projectDir(name='projectDir', type='text', placeholder='Enter project directory')
                        p.input-group
                            span.input-group-addon
                                i.icon.ion-android-information
                            input.form-control#projectName(name='projectName', type='text', placeholder='Enter project name')
                    .modal-footer
                        button.btn.btn-default.glyphicon.glyphicon-exclamation-sign(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary.glyphicon.glyphicon-save(type='submit') Save

    // Add Project Env Modal
    #addProjectEnvModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                form#addProjectEnvForm(method='POST', action='/projects/addEnvFile')
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4#addProjectEnvModalLabel.modal-title Add New Environment
                    .modal-body
                        // Add project env form contents
                        input#projectIdEnv(type='hidden', name='projectId', value='')
                        p.input-group
                            span.input-group-addon
                                i.icon.ion-cloud
                            input.form-control#envName(name='envName', type='text', placeholder='Enter environment name')
                    .modal-footer
                        button.btn.btn-default.glyphicon.glyphicon-exclamation-sign(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary.glyphicon.glyphicon-save(type='submit') Create

    // Add Project Task Modal
    #addProjectTaskModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                form#addProjectTaskForm(method='POST', action='/projects/addTaskFile')
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4#addProjectTaskModalLabel.modal-title Create Custom Task
                    .modal-body
                        // Add project task form contents
                        input#projectIdTask(type='hidden', name='projectId', value='')
                        p.input-group
                            span.input-group-addon
                                i.icon.ion-ios7-gear
                            input.form-control#taskName(name='taskName', type='text', placeholder='Enter custom task name')
                    .modal-footer
                        button.btn.btn-default.glyphicon.glyphicon-exclamation-sign(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary.glyphicon.glyphicon-save(type='submit') Create

    // Edit File Modal
    #editFileModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                form#editFileForm(method='POST')
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4#editFileModalLabel.modal-title Edit File
                    .modal-body
                        // WYSIWYG Editor
                        input#orgFile(type='hidden', name='orgFile', value='')
                        textarea#code(name='code', autocapitalize='off', autocorrect='off', wrap='off')
                    .modal-footer
                        button.btn.btn-default.glyphicon.glyphicon-exclamation-sign(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary.glyphicon.glyphicon-save(type='submit') Save