extends layout

block content
    .page-header
        h1.icon.ion-briefcase= title

    // Buttons
    p
        button.btn.btn-default.btn-primary.icon.ion-android-add(
                rel='tooltip',
                data-original-title='Add project',
                data-toggle='modal',
                data-target='#addProjectModal',
                type='button',
                style='margin-right:10px')
        button.btn.btn-default.btn-warning.icon.ion-android-star(
                rel='tooltip',
                data-original-title='Init project',
                data-toggle='modal',
                data-target='#initProjectModal',
                type='button',
                style='margin-right:10px')
        &nbsp;
        button#editProjectBtn.btn.btn-default.btn-info.icon.ion-edit(
                rel='tooltip',
                data-original-title='Edit project',
                data-toggle='modal',
                data-target='#editProjectModal',
                type='button',
                style='margin-right:10px',
                disabled)
        button#delProjectBtn.btn.btn-default.btn-danger.icon.ion-android-remove(
                rel='tooltip',
                data-original-title='Remove project',
                type='button',
                style='margin-right:10px',
                disabled)
        button#refreshProjectBtn.btn.btn-default.btn-success.icon.ion-refresh(
                rel='tooltip',
                data-original-title='Refresh project',
                type='button',
                disabled)

    // Columns
    .row
        // Available projects
        .col-lg-6
            div#projectListContainer
                ul.list-group#projectsList
                    for project in projects
                        li.list-group-item(id= project.id) #{project.name}
                    else
                        .panel.panel-primary
                            .panel-heading
                                h3.panel-title Projects
                            .panel-body
                                p No projects added yet..
        // Selected project details
        .col-lg-6
            .panel.panel-primary
                .panel-heading
                    h3.panel-title Project Details
                .panel-body
                    p#projectDetail Select a project..

    // -------------
    // Modal Windows
    include modals/initProject
    include modals/addProject
    include modals/editProject
    include modals/addProjectEnv
    include modals/addProjectTask
    include modals/editProjectFile