extends layout

block content
    .page-header
        h1.icon.ion-settings= title

    form#saveSettingsForm(method='POST', action='/setup/save')
        if winEnv
            .panel.panel-info
                .panel-heading
                    h3.panel-title Windows Environment Setup
                .panel-body
                    .input-group
                        span.input-group-addon
                            i.icon.ion-social-windows  Cygwin bin directory
                        input.form-control(name='cygwinBin', type='text', value=settings.cygwinBin(), placeholder='cygwin bin folder')
                    | &nbsp;
                    .input-group
                        span.input-group-addon
                            i.icon.ion-key  ssh-pageant Support
                        select.selectpicker(name='sshPageantSupport', data-width='auto')
                            for title, value in {true:'On', false:'Off'}
                                if value == settings.sshPageantSupport()
                                    option(value= value, selected)= title
                                else
                                    option(value= value)= title

        .panel.panel-info
            .panel-heading
                h3.panel-title Magallanes Setup
            .panel-body
                .input-group
                    span.input-group-addon
                        i.icon.ion-android-send  Default deploy method
                    select.selectpicker(name='mageDeployStrategy', data-width='auto')
                        for title, value in {'rsync':'RSync', 'targz':'TarGZ', 'git-rebase':'GIT Rebase', 'disabled':'None'}
                            if value == settings.mageDeployStrategy()
                                option(value= value, selected)= title
                            else
                                option(value= value)= title

        button.btn.btn-default.btn-success.glyphicon.glyphicon-save(type='submit', style='float:right;') Save